<!DOCTYPE html>
<html ng-app="appKingLear">
    <head>
        <title>King Lear. Dramatis Personae</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        
    </head>
    <body ng-controller="DramatisPersonaeController">
        <h1>King Lear</h1>
        <h3>Tragedy</h3>
        <div>
           <ul>
               <li ng-repeat="person in personas">{{ person.name }}
                    <ul ng-show="person.kids">
                        <li ng-repeat="kid in person.kids">
                            {{ kid.relationship}} - {{ kid.name }}
                        </li>
                    </ul>
               </li>
           </ul>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>